* {
    font-family: 'Acme', sans-serif;    
}

body {
    background:  #b3b3b3;
 }

button {
    background-color:  #0066cc;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    text-align: center;
    border-radius: 4px;
}
  

.footer {
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}