::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    font-family: 'Acme', sans-serif;
}
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: Georgia, sans-serif;
}

a {
    target-name: new;
    target-new: tab;
    text-decoration: none;
    cursor: pointer;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#side-bar {
    height: 100%;
    width: 0;
    position: fixed ;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: darkgray;
    z-index: 1;
    transition: 0.5s;
}

#side-bar a {
    padding: 8px, 8px, 8px, 32px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    color: #f1f1f1;
    font-family: 'Acme', sans-serif;
    transition: 0.3s;
}

#side-bar a:hover {
    color: black;
}

#side-bar .list {
    margin-top: 30%;
    text-align: center;
}

.clsbtn {
    cursor: pointer;
    padding-right: 10px;
    top: 0;
    float: right;
}

#top-bar {
    width: 100%;
    height: 10%;
    background-color: darkgray;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    
}

#menu-button {
    height: 100%;
    width: 5%;
    max-width: 5%;
    text-align: center;
    display: block;
    vertical-align: middle;
    background-color: darkgray;
    border: none;
}

#pinButton {
    height: 100%;
    width: 5%;
    max-width: 5%;
    text-align: center;
    display: block;
    vertical-align: middle;
    background-color: darkgray;
    border: none;
    
}

#yesButton {
    background-color: aqua;
    color: black;
    border: none;
}

#menu-button:focus {
    outline: 0;
}

#menu {
    z-index: 1;
    display: relative;
    margin-right: auto;
    margin-left: auto;
    height: 60%;
    cursor: pointer;
}

#logo {
    width: 90%;
    height: 100%;
    text-align: center;
}

#logo img {
    height: inherit;
}

#map { 
    bottom: 0px;
    height: 90%;
    left: 0px;
    position: absolute;
    right: 0px;
}

#error {
    position: fixed;
    top 350px;
    left: 5%;
    width: 20%;
}

.infoWindow {
    text-align: center;
}