* {
    font-family: 'Acme', sans-serif;
}

body {
background:  #b3b3b3;
 }

#ProfilePage
{
    margin: 50px auto;
    width: 625;

    border: 1px solid black;
}

#LeftCol
{
    float: left;
    width: 200px;
    text-align: center;
}

#Photo
{
    width: 200px;
    height: 200px;

}

#Info
{
    width: 400px;
    text-align: center;
    float: right;
    height: inherit;
}   

#Info fields
{
    display: inline-block;
    width: 100px;
}

#Info span
{
    display: inline-block;
    width: 275px;
}

img.profilepic {
   width: inherit;
    height: inherit;
}

.footer {
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}