::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    font-family: 'Acme', sans-serif;
}
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: Georgia, sans-serif;
    
}

a {
    target-f: new;
    target-new: tab;
    text-decoration: none;
    cursor: pointer;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: darkgray;
    z-index: 1;
    transition: 0.2s;
}

#side-bar a {
    padding: 8px, 8px, 8px, 32px;
    top: 50%;
    text-decoration: none;
    display: block;
    color: #f1f1f1;
    font-family: 'Acme', sans-serif;
}

#side-bar a:hover {
    color: black;
}

#side-bar .login {
    margin-top: 40%;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

#sideList {
    padding-top: 40%;
}

#side-bar .list {
    margin-top: 25%;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

.clsbtn {
    cursor: pointer;
    padding-right: 10px;
    top: 0;
    float: right;
    font-size: 40px;
}

#top-bar {
    width: 100%;
    height: 10%;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
	border-bottom: 2px solid black;

}

#menu-button {
    height: 100%;
    width: 5%;
    max-width: 5%;
    text-align: center;
    display: block;
    vertical-align: middle;
    background-color: darkgray;
    border: none;
}

#yesButton {
    background-color: aqua;
    color: black;
    border: none;
}

#menu-button:focus {
    outline: 0;
}

#menu {
    z-index: 1;
    display: relative;
    margin-right: auto;
    margin-left: auto;
    height: 45%;
    cursor: pointer;
}

#logo {
    width: 90%;
    height: 100%;
    text-align: center;
}

#logo img {
    height: 100%;
    cursor: pointer;
}


#info {
    max-height: 80%;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 5%;
}


#Photo
{
    width: 125px;
    height: 125px;
    margin-right: auto;
    margin-left: auto;


}
img.profilepic {
   width: inherit;
    height: inherit;
}
#mainContent {
    height: 90%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray;
    position: absolute;
    border-right: 2px solid black;
    overflow:scroll;
}

ul {
  list-style: none;
    padding-left: 0;
}
.entry {
	width:auto;
    height: auto;
	display: block;
	clear: both;
	margin-left:2px;
    font-size: 14px;
}
.self{
        font-size: 18px;
}
h{
    background-color: lightgray;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
   
    background-color: gainsboro;
    resize: none;
}

.panel{
width: 38%;
display: none;
background-color: white;
overflow: hidden;
}
.settingsButton {
padding-left: 35%;
}
#profBttn {
    background-color:  #0066cc;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 140;
    text-align: center;
    border-radius: 4px;

}
#accBttn {
    background-color:  #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    width: 140;
    text-align: center;
    border-radius: 4px;
	font-size: 14px;
	
}
.modal {
    width: 100%;
    z-index: 20;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;

}

.modal-backdrop {
    z-index: 10;
}

.modal-header {
    text-align: center;
    align-content: center;
}

.modal-body {
    text-align: center;
    align-content: center;
}

#map {
    height: 90%;
    width: 65%;
    bottom: 0;
    left: 0;
    right: 0;
    float: right;
    position: relative;
}

.footer {
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
