::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    font-family: 'Acme', sans-serif;
}
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: Georgia, sans-serif;
}

a {
    target-name: new;
    target-new: tab;
    text-decoration: none;
    cursor: pointer;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#side-bar {
    height: 100%;
    width: 0;
    position: fixed ;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: darkgray;
    z-index: 1;
    transition: 0.2s;
}

#side-bar a {
    padding: 8px, 8px, 8px, 32px;
    top: 50%;
    text-decoration: none;
    display: block;
    color: #f1f1f1;
    font-family: 'Acme', sans-serif;
}

#side-bar a:hover {
    color: black;
}

#side-bar .login {
    margin-top: 80%;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

#sideList {
    padding-top: 40%;
}

#side-bar .list {
    margin-top: 25%;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

#side-bar .login {
    margin-top: 80%;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

.clsbtn {
    cursor: pointer;
    padding-right: 10px;
    top: 0;
    float: right;
    font-size: 40px;
}

#top-bar {
    width: 100%;
    height: 10%;
    background-color: darkgray;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    
}

#menu-button {
    height: 100%;
    width: 5%;
    max-width: 5%;
    text-align: center;
    display: block;
    vertical-align: middle;
    background-color: darkgray;
    border: none;
}


#menu-button:focus {
    outline: 0;
}

#menu {
    z-index: 1;
    display: relative;
    margin-right: auto;
    margin-left: auto;
    height: 45%;
    cursor: pointer;
}

#logo {
    width: 90%;
    max-height: 100%;
    text-align: center;
}

#logo img {
    height: inherit;
    height: 100%;
    max-height: 100%
}

#main-content {
    width: 100%;
    background-color: darkgray;
    position: absolute;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

#group-list {
    width: 50%;
    text-align: center;
}

#groupContainer h1 {
    color: white;
    display: inline-block;
    max-width: 50%;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.btn {
    margin-left: 5px;
    margin-bottom: 15px;
}

#groupContainer ul {
    overflow-y: scroll;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 400px;
    max-width: 100%;
}

#groupContainer li {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: lightgray;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
}

#messageContainer {
    width: 50%;
    text-align: center;
}

#messageContainer h1 {
    color: white;
}

#chatBox {
    background-color: white;
    height: 70%;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid black;
    opacity: 0.7;
}

#message {
    max-width: 420px;
    width: 80%;
    border: 2px solid black;
    border-bottom-left-radius: 5px;
    height: 30px;
    padding-left: 5px;
}

#msgButton {
    height: 30px;
    max-width: 70px;
    width: 10%;
    border-bottom-right-radius: 5px;
}

#cursor {
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

#cursor i {
    position: absolute;
	width: 1px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}
@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}
#makegroupButton {

    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 5%;
    left: 30%;
    width: 8%;
    background-color:  #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#addButton {

    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 5%;
    left: 39%;
    width: 8%;
    background-color:  #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#delete
{
  background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;}
.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

.modal-header {
    text-align: center;
    align-content: center;
}

.modal-body {
    text-align: center;
    align-content: center;
}

#places-search {
    width: 60%;
}