* {
    font-family: 'Acme', sans-serif;
}

body {
background:  #b3b3b3;
 }

/* inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

/* Set a style for all buttons */
button {
    background-color:  #0066cc;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    text-align: center;
    border-radius: 4px;

}
/* Center the image */
.imgcontainer {
    text-align: center;
    margin: 100px 0 10px 0;
}

/* logo image */
img.logo {
    width: 40%;
}
/* containers */
.container {
    padding: 8px;
    position:absolute;
    left: 20%;
    right: 20%;
}
.container2 {
    text-align: center;
}

.footer {
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}